/*GENERAL*/

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	color: #333;
	background: #EDEDED;
}

a,
.down-icon,
.link-icon,
img {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

hr {
	border-color: #333;
	border-style: solid;
	border-width: 2px;
	margin: 0 auto;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

/* FLOATING SIDEBAR */

aside.floating-nav {
	position: fixed;
	right: 10px;
	top: 0;
	background: #444;
	border: 2px solid #222;
	border-top: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 4px;
	display: none;
}

.floating-nav a {
	color: white;
	text-decoration: none;
}

.floating-nav a .up-icon {
	fill: white;
	width: 10px;
	height: 10px;
}

/*HEADER*/

.banner {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 4px #333 solid;
	border-width: 4px 0;
}

.icon {
	width: 30px;
	height: 30px;
	background-color: coral;
	animation: icon-transition 10s 0s infinite;
	margin: auto 20px auto 0;
	border-radius: 50%;
	display: inline-block;
	background: #EB2C0C;
}

header {
	text-align: center;
	margin: 0 auto;
	background: white;
	padding: 30px 10px 30px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	display: inline-block;
	margin: 0;
	font-size: 50px;
	margin-right: auto;
}

/*NAV*/

nav {
	margin: 0;
}

nav::after {
	content: "";
	display: block;
	clear: both;
}

nav ul {
	margin: 10px 0;
	padding: 0;
	text-align: center;
}

.card-link, nav a {
	padding: 0 20px;
	font-size: 30px;
	text-decoration: none;
	font-weight: bold;
	color: #1EB7FF;
}

nav a:hover {
	color: rgb(17, 102, 141);
}

/*MAIN CONTENT*/

section {
	padding: 0 10%;
	border-bottom: 4px groove #1EB7FF;
}

section h2 {
	display: block;
	font-size: 3em;
	margin: 50px 0 20px 0;
}

section h3 {
	font-size: 2em;
	margin: 20px 0 10px 0;
}

.down-icon-container {
	text-align: center;
}

.down-icon {
	fill: #202020;
}

.down-icon:hover {
	fill: #1EB7FF;
}

#about .content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#about .portrait-container {
	width: 30%;
}

.portrait-container img {
	width: 100%;
}

/* Projects */
#projects article {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #BBB;
	justify-content: space-between;
	margin: 20px 0;
}

#projects article:last-of-type {
	border-bottom: none;
}

#projects article .img-container {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#projects article .content {
	width: 70%;
}

.img-container img {
	border-radius: 20px;
	width: 100%;
}

/* Link Things */
.list-nav ul {
	margin: 30px 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.list-nav ul li {
	list-style-type: none;
}

.list-nav ul li a {
	padding: 20px;
	transition: all 0.2s ease;
	border-radius: 20px;
	display: block;
}

.list-nav ul li a:hover {
	box-shadow: 0 0 20px #888;
}

.list-nav ul li:hover img {
	width: 100%;
}

.list-nav ul li .img-container {
    width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	border-radius: 20px;
	overflow: hidden;
}

.list-nav .img-container img {
	width: 90%;
}

.card-link {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background: white;
	color: #303030;
	border-radius: 20px;
	margin: 20px 0;
}

.card-link:hover {
	box-shadow: 0 0 20px #888;
}

.card-link img {
	width: 100px;
}

.card-link p {
	margin: 0 30px;
}

/*STATIC BACKGOUND IMAGE*/

.static-image {
	display: block;
	width: 100%;
	height: 40vh;
	background-attachment: fixed;
	background-size: 100%;
	background-position-y: center;
	border-bottom: 4px groove #1EB7FF;
}

.code {
	background-image: url("../image/code-background.jpg");
}

.galaxy {
	background-image: url("../image/galaxy-wallpaper.jpg");
}

.portrait {
	background-image: url("../image/portrait.jpg");
}

.camp {
	background-image: url("../image/camp.jpg");
}

/*FOOTER*/

footer {
	background: #202020;
	color: #AAA;
	border-top: 4px groove transparent;
	text-align: center;
	height: 100px;
}

/*ANIMATIONS*/

@keyframes icon-transition {
	0% {
		border-radius: 50%;
		background: #333;
		transform: rotate(0deg);
	}
	10% {
		border-radius: 50%;
		background: #333;
		transform: rotate(0deg);
	}
	15% {
		border-radius: 50% 0 50% 50%;
		transform: rotate(45deg);
		background: #1EB7FF;
	}
	30% {
		border-radius: 50% 0 50% 50%;
		transform: rotate(45deg);
		background: #1EB7FF;
	}
	40% {
		border-radius: 50%;
		background: #333;
		transform: rotate(90deg);
	}
	60% {
		border-radius: 50%;
		background: #333;
		transform: rotate(90deg);
	}
	65% {
		border-radius: 50% 0 50% 50%;
		transform: rotate(45deg);
		background: #1EB7FF;
	}
	85% {
		border-radius: 50% 0 50% 50%;
		transform: rotate(45deg);
		background: #1EB7FF;
	}
	90% {
		border-radius: 50%;
		background: #333;
		transform: rotate(0deg);
	}
	100% {
		border-radius: 50%;
		background: #333;
		transform: rotate(0deg);
	}
}